<h1>Plays#score</h1>


<p> Your word is <%= @attempt %>
<p>Translation : <%= @result[:translation] %> </p>
<p>Time taken to answer : <%= @result[:time] %> </p>
<p>Score : <%= @result[:score] %> </p>
<p>Message : <%= @result[:message] %> </p>

